<IfModule mod_rewrite.c>
    RewriteEngine On

    # Serve existing files directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Forward everything else to Laravel root index
    RewriteRule ^ index.php [L]
</IfModule>
